<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>

    <style>
        .login-form {
            font-size: 15px;
        }

        .login-form form {
            margin-bottom: 15px;
            padding: 10px;
        }
        .login-form h2 {
            margin: 0 0 15px;
        }

        .btn {
            font-size: 15px;
            font-weight: bold;
        }

        tr, td{
            text-align: center;
        }

        th {
            font-size: 20px;
        }
        td {
            font-size: 15px;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="login-form">
        <form  method="post" action=""  id="loginFrm">
            <div class="row justify-content-end" style="padding-right: 10px">
                <span style="margin-top: 7px;margin-right: 5px"><span style="font-weight: bold;">アカウント名</span>様がログイン中です</span>
                <button type="button" class="btn btn-danger" onclick="goLogout();">サインアウト </button>
            </div>
            <div class="row  justify-content-lg-start"s style="margin-top: 50px;margin-left: 10px">
                <span><h2  style="font-weight: 600">本一覧</h2></span>
            </div>

            <div style="width: 100%;">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" style="text-align: center">タイトル </th>
                        <th scope="col" style="text-align: center">著者</th>
                        <th scope="col" style="text-align: center">出版社</th>
                        <th scope="col" style="text-align: center">発売日</th>
                        <th scope="col" style="text-align: center">値段</th>
                        <th scope="col" style="text-align: center"></th>
                    </tr>
                    </thead>
                    <tbody >
                    <tr th:each="book, status :${bookList}">
                        <td>
                            <a href="#"  th:onclick="modifyBook([[${book.bookNo}]])">
                                <span th:text="${book.title}"></span>
                            </a>
                        </td>
                        <td th:text="${book.author}"></td>
                        <td th:text="${book.regDate}"></td>
                        <td th:text="${book.publisher}"></td>
                        <td th:text="${#numbers.formatDecimal(book.price, 0, 'COMMA', 0, 'POINT') + ' 円'}"></td>
                        <td>
                            <button type="button" class="btn btn-danger" th:onclick="deleteBook([[${book.bookNo}]])">削除</button>
                        </td>
                    </tr>
                    <tr th:if="${bookSize == 0}">
                        <td colspan="5" scope="row">
                            <span style="color: red">登録された本がありません</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row justify-content-end" style="margin-right: 30px;margin-top: 25px">
                <button type="button" class="btn btn-primary" onclick="registerBook();"  style="width:150px">登録</button>
            </div>
        </form>
    </div>
</div>
</body>
<script type="text/javascript">
    function goLogout () {
        location.href = '/login/loginForm';
    }

    function modifyBook(bookNo) {
        location.href ="/book/modify?bookNo="  + bookNo;
    }

    function deleteBook (bookNo) {
        var isConfirm = confirm('削除しますか？');

        if(isConfirm) {
            location.href ="/book/delete?bookNo=" + bookNo;
        }else{
            return false;
        }
    }

    function registerBook() {
        location.href = '/book/registerForm';
    }

</script>
</html>
