<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
		
		<style>
			.login-form {
				width: 100%; 
				height: 100vh; 
				display: -webkit-box; 
				display: -ms-flexbox; 
				display: flex; 
				-webkit-box-align: center; 
				-ms-flex-align: center; 
				align-items: center; 
				-webkit-box-pack: center; 
				-ms-flex-pack: center; 
				justify-content: center;
		  		font-size: 15px;
			}
			
			.login-form form {
			    margin-bottom: 15px;
			    border-color:#000000;
			    border: solid 1px;
			    width:500px;
			    height:350px;
			    padding: 10px;
			}
			.login-form h2 {
			    margin: 0 0 15px;
			}
			.form-control, .btn {
			    min-height: 38px;
			    border-radius: 2px;
			}
			.btn {        
			    font-size: 15px;
			    font-weight: bold;
			}
	
		</style>
	</head>
	<body>
	  <div class="container">
	     <div class="login-form">
		    <form  method="post" action=""  id="loginFrm">
		       <div class="row justify-content-center" style="padding-top:50px;margin: 25px auto">
	          	 <div class="col-12" style="text-align: center"> 
		     			<span style="font-size: 20px;font-weight: bold;">本を登録しました</span>
		             </div>
	           </div>
	           <div class="row  justify-content-center" style="padding-top:50px;">
		             <div class="col-12" style="text-align: center"> 
		     			<button type="button" class="btn btn-primary" onclick="goMenu();"  style="margin: 10px auto;width:150px">戻る</button>
		             </div>
	            </div>
	       </form>
	    </div>
	  </div>
	</body>
	<script type="text/javascript">
		function goMenu() {
			 location.href = '/book/list';
		}
		
	</script>
</html>
