<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</head>
<body>
<script type="text/javascript">
(function(){
	alert('아이디 또는 패스워드가 틀렸습니다.');
	 location.href = '/login/loginForm';
})();
</script>
</body>
</html>